/* Ensure body and html take full height */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.app2-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    flex: 1;
}

.main-content {
    display: flex;
    flex: 1;
    /* position: relative; */
}

.delete-button, .join-button {
    margin-top: 10px;
}

.controls {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 0px;
    box-sizing: border-box;
}

.grid-container {
    position: relative;
    width: 750px; /* Match canvas size */
    height: 750px; /* Match canvas size */
    overflow: scroll;
    margin-left: 0px; /* Spacing from controls */
}

#splineCanvas, #gridCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

.spline-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.spline-item {
    padding: 5px;
    /* border: 1px solid #ccc; */
    cursor: pointer;
}

.spline-item:hover {
    background-color: #f0f0f0;
}

.spline-item.selected {
    background-color: blue;
    color: white;
}

.spline-item.joining {
    background-color: gray;
    color: white;
}