{% extends "index.html" %}

{% block title %}
<title>abbrv: help</title>
{% endblock %}

{% block content %}
<div class="main-content"></div>
<h2>Overview</h2>
<br>
This page outlines the key functionalities of <b>abbrv</b> and how they can be used to design a shorthand system.
Note that this program was built with orthographic systems in mind (Orthic, in particular), and that as a result some of the functions and design choices may be better suited for working with these systems.
While it should still be possible to use <b>abbrv</b> to design a phonetic system (e.g., by building glyphs for each phenome), this has yet to be done and may require some additional development to better address the needs specific to phonetic systems.

<br>
<br>
<h3>Terminology</h3>

In <b>abbrv</b>, the following terminology is used:
<ol>
    <br>
    <li><b>Character</b>: individual characters in an alphabet, punctuation, or digits. Examples would be "a", "b", "c", as well as '.', '!', and '3'.</li>
    <br>
    <li><b>Glyph</b>: a representation of one or more characters. For example, "a", "b", and "c" may all have their own glyphs, as might "th", "sh", or "oa".</li>
    <br>
    <li><b>Phrase</b>: one or more longhand words which may be represented using a single glyph. For example, "the", "of the", or "able to do".</li>
    <br>
    <li><b>Mode</b>: a new glyph, or a modified form of an existing glyph, which is used in specific cases depending upon the surrounding text. For example, in Orthic, the practice of omitting "th-" at the beginning of a word and elevating the subsequent glyphs above the baseline.</li>
</ol>

<hr>
<h2 id="text_to_glyphs">Converting text to glyphs</h2>
<br>

Before beginning to design a new shorthand system, it will be useful to review the basics of how <b>abbrv</b> processes text, converts words to glyphs, and draws the glyphs.
Understanding these rules will be particularly useful when drafting your own glyphs and debugging any issues.
<br>
<br>
The following steps are applied in order:
<ol>
    <br>
    <li>Any user-defined <a href="#rules">rules</a> are executed to modify the text.</li>
    <br>
    <li>Any user-defined <a href="#phrases">phrases</a> are mapped to their corresponding glyphs (accounting for the modifications due to the previous step).</li>
    <br>
    <li>Any user-defined <a href="#modes">modes</a> are applied by searching for patterns matching their regular expressions, then mapping them to the corresponding glyphs</li>
    <br>
    <li>All remaining un-mapped words are parsed from left to right, breaking them up into their longest possible glyphs. For example, the word 'match' could be decomposed into the glyphs ['m', 'a', 'tch'] (in Orthic).</li>
    <br>
    <li>All words are drawn in the following manner:</li>
    <ol type="a">
        <li>The first glyph in a word is drawn as-is, using the baseline as the origin.</li>
        <li>Subsequent glyphs in the same word are shifted so that the first knot of the current glyph aligns with the last knot of the previous glyph.</li>
        <li>Words are shifted horizontally to ensure a fixed width between the left-most point of the current word and the right-most point of the previous word.</li>
        <li>Lines are shifted vertically to ensure a fixed width between the highest point of the current line and the lowest point of the previous line.</li>
    </ol>
</ol>

<hr>
<h2 id="designing_a_system">Designing a system</h2>

Using <b>abbrv</b> to design a new shorthand system will typically involves four main steps: 1) drafting your glyphs, 2) abbreviating common phrases, 3) introducing "modes", and 4) defining pre-processing rules.

<br>
<br>
<h3>Drafting your glyphs</h3>

A glyph is defined using one or more <a href="https://mathworld.wolfram.com/CubicSpline.html" target="_blank">cubic splines</a>.
Individual splines are created by specifying the positions of the spline knot points, which are then smoothly interpolated between to construct the spline.
<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/abc.svg" alt="Splines for the glyphs of the characters 'a', 'b', and 'c' in Orthic. Knot points for each spline are shown in red." />
    <figcaption style="margin-top: 10px;">Splines for the glyphs of the characters 'a', 'b', and 'c' in Orthic. Knot points for each spline are shown in red.</figcaption>
</div>

Glyphs are allowed to start and end above or below the baseline. If such glyphs occur at the beginning of a word, this could mean that the word will not start at the baseline either.
<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/gwv.svg" alt="Splines for the glyphs of the characters 'g', 'w', and 'v' in Orthic. Since their first knot points are not at (0, 0), these glyphs do not start at the baseline. Note: I am aware the 'w' is not usually drawn below the baseline; this is just my personal style." />
    <figcaption style="margin-top: 10px;">Splines for the glyphs of the characters 'g', 'w', and 'v' in Orthic. Since their first knot points are not at (0, 0), these glyphs do not start at the baseline. Note: I am aware the 'w' is not usually drawn below the baseline; this is just my personal style.</figcaption>
</div>

If a glyph uses multiple splines (e.g. for words and phrases), each spline is drawn separately, which may be useful when defining a glyph with sharp breaks in it.
<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/does.svg" alt="The Orthic glyph for the word 'does', which uses two splines ('d' and 's') that are joined with a sharp break between them." />
    <figcaption style="margin-top: 10px;">The Orthic glyph for the word 'does', which uses two splines ('d' and 's') that are joined with a sharp break between them.</figcaption>
</div>

A glyph may also use multiple splines if it needs to have separated segments.
<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/i_oa.svg" alt="The Orthic glyphs 'i' and 'oa'. Separate splines are used to draw the dot in 'i', and to draw the 'a' above the 'o' in 'oa'." />
    <figcaption style="margin-top: 10px;">The Orthic glyphs 'i' and 'oa'. Separate splines are used to draw the dot in 'i', and to draw the 'a' above the 'o' in 'oa'.</figcaption>
</div>

As described above, subsequent glyphs in the same word are shifted so that the first knot of the current glyph aligns with the last knot of the previous glyph.
This means that when defining a multi-spline glyph, you must always <i>start</i> the first spline at the point where it should join to the previous glyph, and <i>end</i> the last spline at the point from which the next glyph should continue.
This can lead to some confusing behavior when designing a glyph. For example, the 'i' drawn in the figure above is actually composed of three splines: the slanted line, the dot above the slanted line, and a second dot which overlaps with the end of the slanted line to ensure that it joins properly to the next glyph.
The 'oa' glyph also has a third spline at the end of the longer line for the same reason.
<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/it_oat.svg" alt="The Orthic glyphs for the words 'it' and 'oat'. Note that the 't' spline connects to the top of the 'i' and the end of the longer line in 'oa', since this is where the glyphs were designed to end." />
    <figcaption style="margin-top: 10px;">The Orthic glyphs for the words 'it' and 'oat'. Note that the 't' spline connects to the top of the 'i' and the end of the longer line in 'oa', since this is where the glyphs were designed to end.</figcaption>
</div>

The <a href="{{ url_for('draft') }}">draft page</a> provides you with all of the functionality necessary to design the glyphs for the individual characters (or phonemes) in your system.

<br>
<br>
The grid editor is used to visualize and edit your glyphs:
<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/grid.png" alt="The grid editor panel of the draft page." style="width: 40%; height: auto"/>
    <figcaption style="margin-top: 10px;">The grid editor panel of the draft page.
        <br>
        <b>Left-click</b>: add a knot point
        <br>
        <b>Right-click</b>: remove a knot point
        <br>
        <b>Ctrl + left-click</b>: start a new spline
    </figcaption>
</div>

When working with multi-spline glyphs, using <b>ctrl + left-click</b> to start a new spline allows you to create separated segments and specify the start/end points of the glyph.
Note that only the knot points for the spline which is currently being edited are shown.

<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/grid_oa_o.png" alt="One spline is used for the 'o' in the glyph 'oa'. The beginning of the first spline defines the start of the glyph." style="width: 253px; height: auto"/>
    <figcaption style="margin-top: 10px;">One spline is used for the 'o' in the glyph 'oa'. The beginning of the first spline defines the start of the glyph.</figcaption>
    <br>
    <img src="/static/data/images/grid_oa_a.png" alt="A second spline is used for the 'a'." style="width: 253px; height: auto"/>
    <figcaption style="margin-top: 10px;">A second spline is used for the 'a'.</figcaption>
    <br>
    <img src="/static/data/images/grid_oa_end.png" alt="And a third spline is used to specify the end of the glyph when joining to the next glyph in a word." style="width: 253px; height: auto"/>
    <figcaption style="margin-top: 10px;">And a third spline is used to specify the end of the glyph when joining to the next glyph in a word.</figcaption>
</div>

The buttons panel can be used for saving, deleting and "freezing" glyphs, and for clearing the currently selected spline.

<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/buttons.png" alt="A second spline is used for the 'a' in the glyph 'oa'." style="width: 30%; height: auto"/>
    <figcaption style="margin-top: 10px;">
        The buttons panel and text fieldl of the draft page.
        <br>
        <b>Save</b>: save the current splines as a glyph corresponding to the text in the text field
        <br>
        <b>Delete</b>: delete the glyph a glyph corresponding to the text in the text field
        <br>
        <b>Freeze</b>: paint all the current splines onto the background
        <br>
        <b>Clear</b>: clear the currently selected splines
        <br>
    </figcaption>
</div>

<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/frozen.png" alt="Frozen splines are painted onto the background, which can be useful when making adjustments to a glyph. If a spline is frozen, the 'Freeze' button will change to 'Unfreeze', which will remove the painted splines." style="width: 10%; height: auto"/>
    <figcaption style="margin-top: 10px;">Frozen splines are painted onto the background, which can be useful when making adjustments to a glyph. If a spline is frozen, the 'Freeze' button will change to 'Unfreeze', which will remove the painted splines.</figcaption>
</div>

<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/lists.png" alt="The list panels will show the currently saved glyphs, phrases, and modes." style="width: 30%; height: auto"/>
    <figcaption style="margin-top: 10px;">
        The list panels will show the currently saved glyphs, phrases, and modes.
        <br>
        <b>Left-click</b>: select a glyph and display its splines.
        <br>
        <b>Ctrl + left-click</b>: select a new glyph and append its splines to the current glyph.
    </figcaption>
</div>

<br>
<br>
<h3>Abbreviating common phrases</h3>
When saving a glyph, you can choose the 'as phrase' option to specify that the glyph corresponds to an entire word or phrase.
This is similar to a regular glyph, with the difference that it can only be used to represent an entire word rather than a subset of a word.
For example, if you define a glyph for the word 'man', it will not also be used in the word 'woman'.

<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/buttons_save.png" alt="The save and delete buttons both have 'mode' and 'phrase' options for saving/deleting the glyph of the word or phrase specified in the text field." style="width: 30%; height: auto"/>
    <figcaption style="margin-top: 10px;">The save and delete buttons both have 'mode' and 'phrase' options for saving/deleting the glyph of the word or phrase specified in the text field.</figcaption>
</div>

<br>
<br>
<h3>Introducing modes</h3>
A 'mode' is similar to a phrase and a regular glyph, with the additional flexibility of being able to be used to replace any pattern using a <a href="https://regexone.com/">regular expression</a>.

<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/mode_popup.png" alt="When saving a glyph as a new mode, a popup window will appear to additionally specify the 'name' of the mode, and the regular expression pattern used for matching the mode." style="width: 30%; height: auto"/>
    <figcaption style="margin-top: 10px;">When saving a glyph as a new mode, a popup window will appear to additionally specify the 'name' of the mode, and the regular expression pattern used for matching the mode.</figcaption>
</div>

<br>
<br>
<h3>Defining pre-processing rules</h3>
A rule is a way of specifying find-and-replace operations that can be used to modify the text before mapping to glyphs.
The <a href="{{ url_for('rules') }}">rules page</a> can be used for defining new rules.

<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/rules.png" alt="A rule is created by specifying a name, a regular expression for matching patterns, and a regular expression for replacing any matched patterns." style="width: 100%; height: auto"/>
    <figcaption style="margin-top: 10px;">A rule is created by specifying a name, a regular expression for matching patterns, and a regular expression for replacing any matched patterns.</figcaption>
</div>

<hr>
<h2>Writing</h2>
The <a href="{{ url_for('write') }}">write page</a> can be used for testing out your newly-created shorthand system.
It can be useful to use this page frequently while drafting your glyphs to confirm that they are being drawn and joined as you expect them to be.
The buttons can be used to choose which modifications you would like applied to your text:
<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/write_buttons.png" alt="The options, modes, and rules buttons." style="width: 30%; height: auto"/>
    <img src="/static/data/images/write_download.png" alt="The download button." style="width: 4.9%; height: auto"/>
    <figcaption style="margin-top: 10px;">
        The buttons on the write page.
        <br>
        <b>Options</b>: toggle universal options (show knot points, show baselines, etc.)
        <br>
        <b>Modes</b>: toggle user-defined modes
        <br>
        <b>Rules</b>: toggle user-defined rules
        <br>
        <b>Download</b>: save the current image as an SVG
    </figcaption>
</div>

<br>
Using <b>abbrv</b>, you can go from a bare-bones alphabet that only has single-character (or single-phenome) glyphs, to a fully-fledged system with complex abbreviations, modes, and rules.
Consider, for example, this quote in 'fully-written' Orthic (no abbreviations, modes, etc.):

<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/quote_raw.svg" alt="The quote 'If you cannot do great things, do small things in a great way' (Napoleon Hill, or M.L.K. Jr.?) in Orthic, using only the simplest single-character glyphs and no additional rules or modes." style="width: 100%; height: auto"/>
    <figcaption style="margin-top: 10px;">The quote 'If you cannot do great things, do small things in a great way' (Napoleon Hill, or M.L.K. Jr.?) in Orthic, using only the simplest single-character glyphs and no additional rules or modes.</figcaption>
</div>

Compared to the same quote written in the 'ordinary' style with the following modifications applied:

<ul>
    <br>
    <li>(mode) write 'you-' as an elevated 'y'.</li>
    <li>(phrase) abbreviate 'cannot' as 'cnt'.</li>
    <li>(glyph) define the glyph 'gr' to make it slightly smoother than 'g' joined directly to 'r'.</li>
    <li>(mode) smooth the dipthong 'ea'.</li>
    <li>(mode) omit the prefix 'th-', and elevate the rest of the word.</li>
    <li>(mode) write the suffix '-ings' as a long downard curve with a sharp tail.</li>
    <li>(rule) omit consecutive duplicate letters (the 'll' in 'small', thought it's unnoticeable in the original version).</li>
    <li>(mode) smooth the dipthong 'ay'.</li>
</ul>

<div style="text-align: center; padding: 20px;">
    <img src="/static/data/images/quote_modified.svg" alt="The same quote as above, but with multiple abbreviations, modes, and rules applied." style="width: 100%; height: auto"/>
    <figcaption style="margin-top: 10px;">The same quote as above, but with multiple abbreviations, modes, and rules applied.</figcaption>
</div>


</div>
{% endblock %}